<div class="container">
	<div class="left-box">
		here should be cool graffiti


	</div>

	<div class="center" >
		<div class="center-first" >
			<a class = "link"  routerLink = "/login" routerLinkActive="active" >
			<fa-icon [icon]="faUser"></fa-icon>
			<h2> Login</h2>
			</a>
		</div>

		<div class="center-second" >
			<a class = "link" routerLink = "/registraion"   routerLinkActive="active">
			<fa-icon [icon]="faAddressCard" ></fa-icon>
			<h2> Registraion</h2>
			</a>
		</div>

		<div class="center-last" >
			<a class = "link" routerLink = "/forgot-password"  routerLinkActive="active">
			<fa-icon [icon]="faLock"></fa-icon>
			<h2> Forgot Password?</h2>
			</a>
		</div>

	</div>
	<div class="right-box">
		<router-outlet></router-outlet>

	</div>
</div>